<!--Đặt Dịch Vụ-->
{% extends 'app/base.html' %}
{% load static %}

{% block content_booking %}

<div class="page-wrapper">
    <div class="checkout-form-container box-element">
        
        <h2>Thông tin đặt chỗ</h2>

        {% if messages %}
            <div class="mb-3">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            {{ form.non_field_errors }}

            <div class="form-group">
                <label>Chọn tour*</label>
                {{ form.ma_tour.errors }}
                {{ form.ma_tour }}
            </div>

            <div class="form-group">
                <label>Chọn ngày đi*</label>
                {{ form.start_date.errors }}
                {{ form.start_date }}
            </div>

            <div class="form-group">
                <label>Chọn ngày về*</label>
                {{ form.end_date.errors }}
                {{ form.end_date }}
            </div>
            
            <button type="submit" class="btn btn-primary">
                Xác nhận đặt chỗ
            </button>

        </form>

    </div>
</div>

{% endblock content_booking %}